<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWCFService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3000/WCFService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCFService" contract="ProxyNamespace.IWCFService"
                name="BasicHttpBinding_IWCFService" />
            <endpoint address="net.tcp://localhost:8080/WCFService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IWCFService" contract="ProxyNamespace.IWCFService"
                name="NetTcpBinding_IWCFService">
                <identity>
                    <userPrincipalName value="AzureAD\TashikMoin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>